* {
	font-family: Verdana;
	box-sizing: border-box;
	font-size: 1em;
}

body {
  background-color: dimgrey; 
  color: #696969;
  padding: 3px;
}
h1 {
  border-bottom: 3px solid #cc9900;
  color: #996600;
	font-size: 1.5em;
}

#main {
  padding: 5px;
  padding-left:  15px;
  padding-right: 15px;
  background-color: #ffffff; 
  border-radius: 0 0 5px 5px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
  border-right:1px solid #bbbbbb;
}

ul li:last-child {
  border-right: none;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover:not(.active) {
  background-color: #111111;
}

ul li a.active {
  background-color: #04AA6D;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  border: 2px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #04AA6D;
  color: white;
}

td.right {
	text-align: right;
}

tr.selected,  th.selected{
	background: coral
}

#idSumary tr > *:nth-child(4) {
	display: none;
}

.myDiv {
  border: 5px outset Wheat;
  background-color: lightblue;    
  text-align: center;
}

.button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}

select {
	border:solid 1px #C0C9BF;
	padding:2px;
	border-radius:3px;
  width: auto;
}

textarea#outputtext {
  overflow: auto;
  height: 200px;
  resize: none; /* Remove this if you want the user to resize the textarea */
  width: 100%;
}

